@model Mini_Auction.ViewModel.BidVM

@{
    ViewData["Title"] = "PlaceBid";
}

<h1>PlaceBid</h1>

<h4>BidVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PlaceBid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="0" />
            <input type="hidden" asp-for="AuctionId" value="@ViewContext.RouteData.Values["id"]" />
            <input type="hidden" asp-for="BidderId" value="@User.Identity.Name" />
            <input type="hidden" asp-for="BidTime" value="@DateTime.Now" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Amount</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ActiveAuctions">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
